<!-- contact panel -->
<div id="contact-panel" style="display:none;">
	<div id="twitter-box"></div>
	<div id="social-box">
		<ul id="social-link">
			<li><a href=""><i class="fa fa-linkedin icon-2"></i></a></li>
			<li><a href=""><i class="fa fa-github icon-2"></i></a></li>
			<li><a href=""><i class="fa fa-facebook icon-2"></i></a></li>
			<li><a href=""><i class="fa fa-twitter icon-2"></i></a></li>
		</ul>
	</div>
</div>