<!-- contact panel -->
<div id="contact-panel" style="display:none;">
	<div id="twitter-box"></div>
	<div id="social-box">
		<ul id="social-link">
			<li><a href=""><i class="icon-linkedin icon-2"></i></a></li>
			<li><a href=""><i class="icon-github icon-2"></i></a></li>
			<li><a href=""><i class="icon-facebook icon-2"></i></a></li>
			<li><a href=""><i class="icon-twitter icon-2"></i></a></li>
		</ul>
	</div>
</div>