<ul id="menu" class="menu header transition">
	<li class="border_box">
		<a href="#" class="transition">
			<div id="gem_logo" class="gem pull-left">
				<div class="gem-topleft"></div>
				<div class="gem-topright"></div>
				<div class="gem-bottomleft"></div>
				<div class="gem-bottomright"></div>
			</div>

			<!-- hidden -->
			<div style="display:none;" id="typo-logo">
				<div><img src=""></div>
				<p>Co<span>De.ep</span>Breathe</p>
			</div>
		</a>
	</li>
	<li>
		<a href="#" id="effect-11" data-title="title_blog" class="transition">
			<div><i class="fa fa-terminal icon-3"></i></div>
			<div style="display:none;" class="typo-item"> BLOG</div>
		</a>
	</li>
	<li>
		<a href="#" id="effect-12" data-title="title_portfolio" class="transition">
			<div><i class="fa fa-puzzle-piece icon-3"></i></div>
			<div style="display:none;" class="typo-item"> PORTFOLIO</div>
		</a>
	</li>
	<li>
		<a href="#" id="effect-21" data-title="title_resume" class="transition">
			<div><i class="fa fa-bookmark-o icon-3"></i></div>
			<div style="display:none;" class="typo-item"> RESUME</div>
		</a>
	</li>
	<li>
		<a href="#" id="effect-22" data-title="title_contact" class="transition">
			<div><i class="fa fa-comments-o icon-3"></i></div>
			<div style="display:none;" class="typo-item"> CONTACT <img id="prompt-contact" class="transition" style="display:none;" src="/img/prompt-icon.png"/></div>
		</a>
	</li>
</ul>