<!-- <section id="header">
	

	
	
	<nav class="cl-effect-1">
		<a href="#">BLOG</a>
		<a href="#">PORTFOLIO</a>
		<a href="#">RESUME</a>
		<a href="#">CONTACT</a>
	</nav>
</section> -->

<ul id="menu" class="menu header">
	<li>
		<a href="#">
			<div id="gem_logo" class="gem pull-left">
				<div class="gem-topleft"></div>
				<div class="gem-topright"></div>
				<div class="gem-bottomleft"></div>
				<div class="gem-bottomright"></div>
			</div>

			<!-- hidden -->
			<div style="display:none;" id="typo-logo">
				<div><img src=""></div>
				<h2>Co<span>De.ep</span>Breathe</h2>
			</div>
		</a>
	</li>
	<li><a href="#" id="effect-11" data-title="title_blog"><i class="icon-terminal icon-3"></i></a></li>
	<li><a href="#" id="effect-12" data-title="title_portfolio"><i class="icon-puzzle-piece icon-3"></i></a></li>
	<li><a href="#" id="effect-21" data-title="title_resume"><i class="icon-bookmark-empty icon-3"></i></a></li>
	<li><a href="#" id="effect-22" data-title="title_contact"><i class="icon-comments-alt icon-3"></i></a></li>
</ul>