<!-- page title -->
<% provide(:page_title_tag, "blog") %>

<!-- blog content -->
<div class="row">
	<div class="col-xs-10 col-md-offset-1" id="blog-wrapper">
		<div class="blog-input">
			
		</div>
		<div class="blog-output">
			
		</div>
	</div>
</div>

<!-- contact paenl -->
<%= render 'shared/contactPanel' %>